<footer class="container text-center mt-5">
p class="text-muted"'>
<small>
§copy; {{ 'now'|date('Y') }} &middot;
Built with <span class="text-danger">&hearts; </span> by <a href=" https://teachersdunet. com">TDN</a>.
< small>
Y I Controller
• gitignore
R PinsController.php
> B Entity
? Form
a Renositorv
> E Twig f? Kernel.php
y templates
> I bundles
</ p>
</footer>