{% extends 'base.html.twig' %}

{% block title "New Pin" %}

{% block body %}
    <h1>Create Pin</h1>

    {{ form_start(formulaire, {'method': 'GET'}) }}
        {{ form_widget(formulaire) }}
        <input type="text">
    {{ form_end}}
{% endblock %}
