{% extends 'layouts/base.html.twig' %}

{% block title "New Pin" %}

{% block body %}
    <h1>Create Pin</h1>

    {{ form_start(formulaire) }}
        {{ form_widget(formulaire) }}
        <input type="submit" value="Create Pin" class="btn btn-primary">
    {{ form_end(formulaire)}}
{% endblock %}
