{% extends 'base.html.twig' %}

{% block title"Find all best pins" %}

{% block body %}
    <h1>{{ pluralize( pins|length, 'pin') }}</h1>
    {% for pin in pins %}
        <h2><a href="{{ path('app_pins_show', }}">{{ pin.title }}</a></h2> 
        <p>{{ pin.description }}</p>
    {% endfor %}
{% endblock %}
