{% extends 'base.html.twig' %}

{% block title"Find all best pins" %}

{% block body %}
    <h1>All pin</h1>
    {% for pin in pins %}
        <article> {{ pin.title}}</article> 
        <p></p>
    {% endfor %}
{% endblock %}
